* {
    margin: 0%;
    padding: 0%;
}

 
/* --------------------------------------- FOOTER -----------------------------------------------*/
 .footer-container {
    background-color: #FFFFFF;
    display: flex;
    padding-bottom: 25px;
}


.ultimate {
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    padding-top: 22px;
    padding-left: 220px;
}

.ultimate-list {
    color: #000000;
    font-style: normal;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    padding-top: 22px;
    padding-left: 220px;
}

.recreational {
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    padding-top: 22px;
    padding-left: 130px;
}

.recreational-list {
    color: #000000;
    font-style: normal;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    padding-top: 22px;
    padding-left: 130px;
}

.contact {
    color: #000000;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    padding-top: 22px; 
    
}

.contact-list {
    color: #000000;
    font-style: normal;
    list-style: none;
    font-size: 14px;
    line-height: 24px;
    padding-top: 22px;
}
