* {
    margin: 0%;
    padding: 0%;
}

.header {
    background-color: #12167a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-left: 100px;
}

.icons {
    list-style: none;
    padding: 40px;
    padding-right: 100px;
    display: flex;
}

.icons img {
    padding-right: 20px;
  }

nav {
    background-color: #EC1D2E;
    height: 48px;
    box-sizing: border-box;
    padding: 0px 103px;
    display: flex;
    align-items: center;
}
 
nav a {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 00.05em;
    padding: 0px 6px;
    text-decoration: none;
    display: flex;
  }

.featured-categories h1 {
    text-align: center;
    line-height: 80px;
    font-size: 25px;
    text-transform: capitalize;
}

.content-container {
   display: flex;
   width: 100%;
   max-width: 100%; 
   height: auto;
   list-style: none;
}

.content-image img {
    max-width: 100%;
    max-height: 100%;
}

.content-image {
    margin: 5px;
    padding: 25px 5px;
}

.content-image a {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    padding-left: 20px;
    padding: 100px 20px;
}

section {
    background-color: #EC1D2E;
    text-align: center;
    padding: 20px;
}

.newsletter { /* h2 */
    color: #FFFFFF;
    font-family: ;
    padding-bottom: 10px  
}

.tekst {
    color: #FFFFFF;
    font-family: ;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 30px;   
}

form {
    text-align: center;
}

.placeholder {
    padding: 10px 24px;
    width: 263px;
    border-radius: 0px; 
}

.sub {
    color: #FFFFFF;
    background-color: #12167A;
    justify-content: center;
    padding: 10px ;
}

.footer {
    background-color: #12167A;
    display: flex;
    align-items: flex-start;
    padding-bottom: 25px
}

.footer > div {
    flex: 1 1 50%;
}

.categories {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    padding-left: 250px;
    padding-top: 22px;
}

.categorieslist {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    padding-left: 250px;
    padding-top: 22px;
    text-transform: uppercase;
}

.contact {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    padding-top: 22px;
}

.contactlist {
    color: #FFFFFF;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    list-style: none;
    padding-top: 22px;
}

.copyright {
    background-color: #000000;
    text-align: center;
    padding: 10px;
}

.copyright-text {
    color: #FFFFFF;
}

.swiper img {
  width: 100%;
  height: auto;
}

.slide-text {
  color:#FFFFFF;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
}

.slide-button {
  background-color: #12167A;
  color: #FFFFFF;
  font-weight: bold;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 150px;
}